

:root {
    --dark_cyan: hsl(185, 75%, 39%);
    --very_dark_blue: hsl(229, 23%, 23%);
    --grayish_blue: hsl(227, 10%, 46%);
    --dark_gray: hsl(0, 0%, 59%);
}


* {
    border: 0;
    padding: 0;

}

p {
    font-size: 18px;
    text-align: center;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    
    
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark_cyan);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:url('images/bg-pattern-top.svg');
    background-position: top;
    
    

}
.top-third {
    height: 140px;
    width: 350px;
    background-image: url('images/bg-pattern-card.svg');
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#victor {
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    margin-top: 110px;
}

.card-outer {
    width: fit-content;
    /*outline: 1px solid red; */
    
}

#text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

 .stats-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    
}

.stats-section {
    gap:20px;
    margin-bottom: 60px;
    border-top: 1px solid var(--grayish_blue);
    
    
}

.center {
    text-align: center;
    margin-top: 5px;
}

.text-card {
    margin-top: 20px;
    
}

.text {
    margin-top: 15px;
    
    
}

.bold {
    text-align: center;
    font-weight: bold;

}


@media screen and (max-width:500px) {

    .card-outer {
        width: fit-content;
    }



}

@media screen and (max-width:300px) {
    .card-outer,.top-third,.text-section{
        max-width: 200px;
    }

    .stats-section {
        padding-left: 10px;
        padding-right: 10px;
    }
}